*{
    box-sizing: border-box;
}

.convertite{
    text-align:center; 

}
#convertir{
    margin-top: 10px;
}

#lol{
    margin-top: 5px;
    font-size: 30px;
}

.convert{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

 span{
    text-decoration: none;
    border-bottom:1px dotted black;
}

.formañadir{
    width: 95%;
    max-width: 700px;
    margin: auto;
}

.contenedor-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formañadir .contenedor-input input{
    margin-bottom: 10px;
    padding: 5px;
}

.input-1{
    width: 48%;
    font-size: 15px;
}

.input-2{
    width: 100%;
    font-size: 20px;
}

textarea{
    margin-bottom: 10px;
    padding: 5px;
}

.contenedor-input .text-muted{
    font-size: 13px;
}

.contenedor-input a{
    padding: 5px;
    width: 100%;
    background-color: greenyellow;
    color: white;
    border-radius: 5px;
    border-color: none;    
    text-align: center;
    text-decoration: none;
}

